@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.containerquotes {
  background-size: cover;
  min-height: 100vh;
  width: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(252, 250, 247);
  z-index: 1;
  position: relative;
  font-weight: 100;
}
